__pycache__/
*.pyc
*.pyo
*.egg-info/
.vscode/
.idea/
logs/
**/__pycache__/
*.csv
aegisxai/data/*.csv
data/*.csv
**/data/*.csv
backend/
aegisxai-fullstack/
generate_large_dataset.py
aegisxai.py
aegisxai_v2.py
aegisxai_v3.py
aegisxai_v4.py
aegisxai_v4_pt1.py
.venv/
*.pkl
*.h5
__pycache__/
*.ipynb_checkpoints/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
